#Mac OS
.DS_Store

#Windows
Thumbs.db
ehthumbs.db
Desktop.ini

#module
node_modules/
venv/

#out
build/

#/site/*.py*
#/site/static/*.*
#/site/static/database/*.db
#!/site/static/database/av.db
#/site/static/download/
#/site/static/files/
#/site/static/lib/
#/site/static/video/

#python
*.py[cod]
